@import "_mixins";
@import "_variables";

// Reset
* {
  margin: 0;
  padding: 0;
  border: 0;
}

// Contenedor principal
.container {
  max-width: 1100px;
  margin: 0 auto;
}

// Header
header {
  background-image: $bg_header;
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include escritorio {
      flex-direction: row;
      justify-content: space-between;
    }

    .logo {
      position: relative;
      text-decoration: none;
      padding: 10px;
      font-size: $tamano_logo;
      font-family: $fuente;
      color: $bg_seccion_mainyaside;

      @include tablet {
        &:hover .submenu {
          display: flex;

          ul {
            list-style: none;
            display: flex;
            flex-direction: column;

            li {
              display: flex;
              flex-direction: row;
              margin: 10px;
              align-items: center;
            }

            input {
              flex-grow: 1;
              border: none;
              height: 20px;
            }
          }
        }
      }

      .submenu {
        position: absolute;
        display: none;
        background-color: #7a745c;

        .button {
          display: flex;
          background: none;
          justify-content: flex-end;

          &:hover {
            background-color: $bg_boton_encima;
          }
        }

        button {
          font-family: $fuente;
          font-size: $tamano_label;
          padding: 10px;
          background-color: black;
          color: white;
          justify-content: flex-end;
        }
      }
    }

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px;

      i {
        font-size: $tamano_h2_articulos;

        @include tablet {
          font-size: 10px;
        }
      }

      span {
        display: none;

        @include tablet {
          display: flex;
          align-items: center;
          padding: 0 5px;
        }
      }

      a {
        color: $bg_seccion_mainyaside;
        padding-right: 10px;

        @include tablet {
          display: flex;
          align-items: center;
          text-decoration: none;
        }
      }
    }

    .social {
      display: flex;
      flex-direction: row;
      justify-content: center;

      :nth-child(1) {
        padding-right: 2px;
      }

      i {
        color: $bg_seccion_mainyaside;
      }
    }
  }

  .texto-principal {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    @include tablet {
      align-items: flex-start;
    }
  }
}

// Sección de artículos
.section {
  display: flex;
  flex-direction: column;

  @include escritorio {
    flex-direction: row;
    justify-content: space-between;

    .articulos {
      flex-grow: 1;
    }
  }

  .articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
      max-width: 100%;
    }

    .article {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      background-color: lightgray;

      @include tablet {
        flex-basis: calc((100% / 2) - (1rem / 2));
      }

      @include escritorio {
        flex-basis: calc((100% / 3) - (2rem / 3));
      }

      h2 {
        color: $color_h2_articulos;
        font-family: $fuente_h1;
        position: absolute;
      }

      a {
        align-self: flex-start;
        background-color: $bg_navegacion;
        color: white;
        text-decoration: none;
        padding: 10px;
      }
    }

    .navegacion {
      display: flex;
      justify-content: flex-start;
      background-color: black;
      font-family: $fuente_h1;
      flex-grow: 1;
      margin-bottom: 10px;

      a {
        flex-basis: 10%;
        text-decoration: none;
        color: white;
      }
    }
  }
}

// Aside
aside {
  display: flex;
  flex-direction: row;

  h4 {
    background-color: black;
    color: white;
  }

  @include escritorio {
    flex-direction: column;
  }

  img {
    max-width: 100%;
  }
}

// Footer
.fondofooter {
  background-color: black;

  .footer {
    display: flex;
    justify-content: center;
    padding: 10px;

    a {
      flex-grow: 1;
      text-decoration: none;
      color: white;
    }
  }
}
