/****************** MIXINS ***********************/
/***************** VARIABLES ****************/
/* fuente */
/* colores */
/* imagenes */
/* media queries */
/* otros */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  background-image: url(../imagenes/bg-2.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  min-height: 580px;
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  position: relative;
  text-decoration: none;
  padding: 10px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #F7F7F7;
}
@media screen and (min-width: 480px) {
  .logo:hover .submenu {
    display: flex;
  }
  .logo:hover .submenu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .logo:hover .submenu ul li {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
  }
  .logo:hover .submenu ul input {
    flex-grow: 1;
    border: none;
    height: 20px;
  }
}

.submenu {
  position: absolute;
  display: none;
  background-color: #7a745c;
}
.submenu .button {
  display: flex;
  background: none;
  justify-content: flex-end;
}
.submenu .button :hover {
  background-color: #546cc3;
}
.submenu button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 10px;
  background-color: black;
  justify-content: flex-end;
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.nav i {
  font-size: 25px;
}
@media screen and (min-width: 480px) {
  .nav i {
    font-size: 10px;
  }
}
.nav span {
  display: none;
}
@media screen and (min-width: 480px) {
  .nav span {
    display: flex;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
  }
}
.nav a {
  color: #F7F7F7;
  padding-right: 10px;
}
@media screen and (min-width: 480px) {
  .nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social :nth-child(1) {
  padding-right: 2px;
}
.social i {
  color: #F7F7F7;
}

.texto-principal {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
@media screen and (min-width: 480px) {
  .texto-principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .section {
    flex-direction: row;
    justify-content: space-between;
  }
  .section .articulos {
    flex-grow: 1;
  }
}

.articulos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.articulos img {
  max-width: 100%;
}
.articulos .article {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: lightgray;
}
@media screen and (min-width: 480px) {
  .articulos .article {
    flex-basis: calc(50% - 0.5rem);
  }
}
@media screen and (min-width: 800px) {
  .articulos .article {
    flex-basis: calc(33.3333333333% - 0.6666666667rem);
  }
}
.articulos .article h2 {
  color: #fff;
  font-family: "Lora", serif;
  position: absolute;
}
.articulos .article a {
  align-self: flex-start;
  background-color: #000;
  color: white;
  text-decoration: none;
  padding: 10px;
}
.articulos .navegacion {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  font-family: "Lora", serif;
  flex-grow: 1;
  margin-bottom: 10px;
}
.articulos .navegacion a {
  flex-basis: 10%;
  text-decoration: none;
  color: white;
}

aside {
  display: flex;
  flex-direction: row;
}
aside h4 {
  background-color: black;
  color: white;
}
@media screen and (min-width: 800px) {
  aside {
    flex-direction: column;
  }
}
aside img {
  max-width: 100%;
}

.fondofooter {
  background-color: black;
}
.fondofooter .footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.fondofooter .footer a {
  flex-grow: 1;
  text-decoration: none;
  color: white;
}